/* Estilos para o footer */
.footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    color: #333;
    font-size: 16px; /* Tamanho da fonte */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 120px;
    margin-bottom: 15px;
}

.footer-info, .footer-social {
    flex: 1;
    padding: 0 20px;
}

.footer-info h3, .footer-social h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: #333;
    font-size: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    color: #777;
}
